<div class="user-transaction">

    <div class="row">
        <div class="col-xs-12">
            <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
    </div>

    <div class="row" ng-if="user">

        <div class="col-xs-12">
            <h2><span translate translate-value-name="{{user.name}}">transactionForUser</span> -
                <span translate translate-values="{current:currentPage, max:numPages}">transactionCurrentPage</span></h2>

            <pagination total-items="totalItems" max-size="10"
                        items-per-page="entriesPerPage" num-pages="numPages"
                        data-boundary-links="true" page="currentPage"
                        on-select-page="pageChanged(page)"
                        previous-text="{{'previousPage' | translate}}" next-text="{{'nextPage' | translate}}"
                        first-text="{{'firstPage' | translate}}" last-text="{{'lastPage' | translate}}"></pagination>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th translate>transactionCreateDate</th>
                        <th translate>transactionValue</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="transaction in transactions | orderBy:'-id'">
                        <td>{{transaction.createDate | localtime}}</td>
                        <td class="balance" ng-class="transaction.value < 0 ? 'negative' : ''">{{transaction.value|number:2}} €</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-default btn-lg back" translate ng-click="backClick()">back</button>
        </div>
    </div>
</div>